@font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html > body {
	font-family: 'NeoDunggeunmoPro-Regular';
}

/* 라이브러리 */
.table-box-type-1 thead th, .table-box-type-1 td {
	border: 1px solid black;
	padding: 10px;
	text-align: center;
}